img {
    max-width: 100%;
    height: auto;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.more {
    text-align: center;
}

.tags {
    > div {
        margin-bottom: round(-$grid-gutter-width / 4);
        .btn {
            margin: 0 round($grid-gutter-width / 4) round($grid-gutter-width / 4) 0;
        }
    }
    @media (min-width: map-get($grid-breakpoints, 'sm')) {
        display: flex;
        align-items: center;
        h3 {
            flex-grow: 0;
            flex-shrink: 1;
            margin-bottom: 0;
            padding-right: $grid-gutter-width;
        }
        > div {
            flex-grow: 1;
        }
    }
}

h3 + h3 {
    margin-top: round(-$headings-margin-bottom / 2);
}

.image-caption {
    @include clearfix();
    > img {
        float: left;
        width: $image-caption-width;
        margin-right: round($grid-gutter-width / 2);
        margin-bottom: round($grid-gutter-width / 2);
        border-radius: $border-radius;
    }
}

.login-form-wrapper {
    text-align: center;
}

.form-error {
    width: 100%;
    color: $red;
}

// Bootstrap - move to separate file!
.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.pagination {
    justify-content: center;
}
