#navigation {
    border-bottom: 1px solid $border-color;
    background-color: $navigation-bg;
}

#shp_navigation,
#shp_navigation ul {
    @include list-unstyled();
    margin-bottom: 0;
}

#shp_navigation_wrapper {
    position: relative;
}

#shp_navigation {
    > .shp_menu-item {
        > a {
            padding: $navigation-item-padding-y $navigation-item-padding-x;
            display: block;
        }
        &:first-child {
            > a {
                padding-left: 0;
            }
        }
        &:last-child {
            > a {
                padding-right: 0;
            }
        }
    }
}

.shp_menu-item-link {
    text-transform: uppercase;
    color: $navigation-color;
}

.shp_navigation-submenu {
    display: none;
    left: 0;
    top: 100% !important;
    margin-left: -5px;
    margin-top: -5px;
}

/* RESPONSIVE MENU */
.responsive-nav {
    position: relative;
    min-width: 250px;

    .visible-links {
        display: table;

        li {
            display: table-cell;

            a {
                display: block;
            }
        }
    }

    .hidden-links {
        position: absolute;
        right: 0px;
        top: 100%;
        border-top: 1px solid $border-color;

        li {
            display: block;

            a {
                padding: $navigation-item-padding-y $navigation-item-padding-x;
                border-bottom: 1px solid $border-color;
                background-color: $navigation-bg;
                display: block;
            }
        }
    }

    .hidden {
        visibility: hidden;
    }

    button {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        border: 0;
        outline: none;
        color: #fff;
        cursor: pointer;

        &:hover {
        }
    }
}
