.tooltip {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: round($spacer / 2);
        text-align: left;
    }
    ul {
        padding-left: round($spacer / 2);
        text-align: left;
    }
}
