$spacer: 2rem;

$input-btn-padding-y: .5625rem !default;
$input-btn-padding-y-sm: .375rem !default;
$input-btn-padding-y-lg: 1rem !default;
$btn-font-weight: 700;

$body-bg: #e7f7fd;
$body-color: #666;
$border-color: #e9e9e9;
$black: #111;

$yiq-contrasted-threshold: 180;
$primary: #21afe5;
$secondary: #a6c721;
$theme-colors: (
    "orange": #f6a12d
);

$font-size-base: 0.9375rem;
$font-size-lg: round($font-size-base * 1.067);
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$headings-margin-bottom: $spacer / 2;
$headings-font-family: 'Libre Franklin', sans-serif;
$headings-font-weight: 400;
$headings-color: $black;

$h1-font-size: 1.875rem;
$h2-font-size: 1.875rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.125rem;

$input-padding-y: 0.375rem;
$input-btn-padding-y-lg: 1.5rem !default;

$custom-select-indicator-color: $primary;
$custom-select-indicator: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 3L0 0h4z'/%3E%3C/svg%3E");

$box-shadow-sm: 0 0 .3rem rgba($black, .15);
$box-shadow: 0 0 .65rem rgba($black, .15);
$box-shadow-lg: 0 0 1rem rgba($black, .15);

$breadcrumb-padding-y: 1rem;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: .25rem;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: transparent;
$breadcrumb-divider: '\00BB';
$breadcrumb-border-radius: 0;

$progress-height: 10px;
$progress-border-radius: 0;
$progress-box-shadow: none;
$progress-bg: #f0f0f0;
$progress-bar-bg: #bcbcbc;

$dropdown-border-color: $border-color;

$alert-margin-bottom: 0;
