/*
* This part is copied from Bootstrap and updated to WP pagination structure.
* Unfortunately there is no way how to change pagination links elements.
*/
.page-numbers {
    position: relative;
    display: block;
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height;
    color: $pagination-color;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;

    &:hover {
        z-index: 2;
        color: $pagination-hover-color;
        text-decoration: none;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border-color;
    }

    &:focus {
        z-index: 2;
        outline: $pagination-focus-outline;
        box-shadow: $pagination-focus-box-shadow;
    }

    // Opinionated: add "hand" cursor to non-disabled .page-link elements
    &:not(:disabled):not(.current) {
        cursor: pointer;
    }
    &:first-child {
        margin-left: 0;
        @include border-left-radius($border-radius);
    }
    &:last-child {
        @include border-right-radius($border-radius);
    }

    &.current {
        z-index: 1;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border-color;
    }

    &.current {
        color: $pagination-disabled-color;
        pointer-events: none;
        // Opinionated: remove the "hand" cursor set previously for .page-link
        cursor: auto;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border-color;
    }
}

.pagination {
    justify-content: center;
}

/* Categories */
.category-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: $spacer / 2;
    h1 {
        margin: 0;
    }
    img {
        margin-right: round($grid-gutter-width / 2);
    }
}
.category-image {
    img {
        width: 100%;
        padding: 5px 0;
    }
    @media (max-width: map-get($grid-breakpoints, 'sm') - 1) {
        display: none;
    }
}

.entry-thumbnail img {
    padding: 5px 0;
}

/* Articles */
article {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: $article-padding;
    margin: 0 0 $spacer;
    @include clearfix;
    .entry-thumbnail img {
        padding: 5px 0;
    }
    .entry-more {
        float: right;
    }
}

.entry-meta {
    clear: both;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    > div {
        margin-right: 15px;
        white-space: nowrap;
        i {
            margin-right: 5px;
        }
    }
    .entry-tags {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* Post navigation buttons */
.post-navigation {
    clear: both;
    > div {
        + div {
            padding-top: $spacer / 2;
        }
    }
    .btn {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media (min-width: map-get($grid-breakpoints, 'md')) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        > div {
            width: 50%;
            &.nav-previous {
                padding-right: 15px;
                text-align: right;
            }
            &.nav-next {
                padding-left: 15px;
            }
            + div {
                padding-top: 0;
            }
        }
        .btn {
            display: inline-block;
            width: auto;
            max-width: 100%;
        }
    }
}

/* Comments list */
.comments {
    margin: 20px 0;
}

.comment-list {
    list-style-type: none;
    padding-left: 0;
    ol {
        list-style-type: none;
        li {
            &:first-child {
                border-top: 1px solid #e9e9e9;
                margin-top: 15px;
                padding-top: 20px;
            }
        }
    }
    .comment-author {
        img {
            float: left;
            padding-right: 20px;
        }
        .says {
            display: none;
        }
    }
}

/* Comments form */
.comment-respond {
    margin-top: 20px;
}

.comment-form label:not([for="wp-comment-cookies-consent"]) {
    display: block;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Helpers */
.mb-0 {
    margin-bottom: 0;
}

.align-self-center {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

/* Breadcrumb */
.breadcrumb {
    font-size: 0.8125rem;
}

/* Alert */
.alert {
    .alert-icon {
        display: none;
        font-size: 300%;
        @media (min-width: map-get($grid-breakpoints, 'sm')) {
            display: block;
        }
    }
}

/* WP editor styles */
img {
    &.alignright {
        float: right;
        margin: 0 0 1em 1em;
    }
    &.alignleft {
        float: left;
        margin: 0 1em 1em 0;
    }
    &.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
